<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}] %-5p %c %m %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>

    <logger name="org.springframework.data" level="INFO"/>

    <logger name="org.hibernate" level="WARN"/>

    <logger name="org.jboss" level="INFO"/>

    <logger name="java.sql" level="WARN" />

    <!-- application based logging-->
    <logger name="com.opitzconsulting.springdata.jpa" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

</configuration>